html, body {
    margin: 0px;
    background-color: #2F4F30;
    color: white;
}

.titulo {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#jugador-carta, #computadora-carta {
    height: 240px;
}